/* Color palette */
:root {
--primary-color: #5416d4;
--secondary-color: #3512a6;
--tertiary-color: #3d0f8c;
--quaternary-color: #2b1476;
--quinary-color: #2a106c;
}

/* Global styles */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #3d0f8c;
}

/* Header styles */
.header {
display: flex;
align-items: stretch;
background-color: var(--primary-color);
color: #fff;
}

#title {
margin-left: 10px;
flex-grow: 10;
width: 30%;
font-size: 24px;
}

#title a {
color: inherit;
text-decoration: none;
}

.header-btns{
margin: 10px;
padding: 0px;
border: var(--quinary-color);
flex-grow: 1;
border-style: solid;
border-width: 2px;
border-radius: 10px;
background-color: var(--primary-color);
color: #fff;
font-size: 16px;
cursor: pointer;
}

#logout-button {
display: none;
}


/* Login form */
.login-form {
display: none;
max-width: 300px;
margin: 0 auto;
padding: 20px;
margin-top: 50px;
border: 1px solid #ccc;
border-radius: 10;
background-color: var(--tertiary-color);
}

.login-form label {
display: block;
margin-bottom: 10px;
font-weight: bold;
color: #fff;
}

.login-form input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 20px;
box-sizing: border-box;
}

.login-form button {
display: block;
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
background-color: var(--primary-color);
color: #fff;
font-size: 16px;
cursor: pointer;
}

.login-form button#register-switch-button {
background-color: var(--quaternary-color);
margin-top: 10px;
}

/* Register form */
.register-form {
max-width: 300px;
margin: 0 auto;
padding: 20px;
margin-top: 50px;
border: 1px solid #ccc;
border-radius: 10;
background-color: var(--tertiary-color);
}

.register-form label {
display: block;
margin-bottom: 10px;
font-weight: bold;
color: #fff;
}

.register-form input,
.register-form select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 20px;
box-sizing: border-box;
}

.register-form button {
display: block;
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
background-color: var(--primary-color);
color: #fff;
font-size: 16px;
cursor: pointer;
}

.register-form button#login-switch-button {
background-color: var(--quaternary-color);
margin-top: 10px;
}
